{{#each plotPlants as |pp|}}


  <section data-id={{pp.plot.id}} class="plot">
    <div id="plot-title" class="plot-title"><h6>{{pp.plot.name}}</h6></div>
    <div id="plant-holder" class="plant-holder row">
      {{#each pp.plants as |plant|}}
        <div class="plant">{{plant.name}}</div>
      {{/each}}
    </div>
  </section>

{{/each}}
