$plant-width: 50px;
$plant-height: $plant-width;

.sidebar {
  background-color: $sidebar-background;
  // position: fixed;
  // height: inherit;
  // height: 100%;
}

body {
  background: $plot-background;
}

label {
  padding: 10px 0;
}

.error {
  font-size: 100%;
  color: red;
}

.plots {
  background: $plot-background;
  height: inherit;
  // this allows the div within the container to scroll on the y axis if
  // it overflows the size of it's container.
  overflow-y: scroll;
}

.hidden {
  display: none;
}

.form-button {
  margin: 10px;
}

h6 {
  margin: 0;
}

.main {
  padding: 0;
  margin: 0;
  height: 100vh;
}

.plot {
  min-width: 20%;
  background: white;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
}

.plot-holder {
  margin-left: 20px;
}

.plot-title {
  margin: 20px auto;
}

.plant-holder {
  margin: 20px auto;
}

.plant {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: $plant-height;
  min-width: $plant-width;
  background: green;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;

  div {
    padding-right: 10px;
  }

  button {
    height: auto;
  }
}

.top {
  // height: 80px;
}

.plots-heading {
  height: 80px;
}

// .harvest-reminder > p {
//   height: 1000px;
// }

.container-fluid {
  // width: 100%;
}
