$plant-width: 50px;
$plant-height: $plant-width;

.sidebar {
  background-color: $sidebar-background;
}

.plots {
  background: $plot-background;
  height: inherit;
}

.hidden {
  display: none;
}

.form-button {
  margin: 10px;
}

h6 {
  margin: 0;
}

.main {
  padding: 0;
  margin: 0;
  height: 100vh;
}

.plot {
  background: white;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
}

.plot-holder {
  margin-left: 20px;
}

.plot-title {
  margin: 20px auto;
}

.plant-holder {
  margin: 20px auto;
}

.plant {
  height: $plant-height;
  width: $plant-width;
  background: green;
  margin: 10px;
  border-radius: 5px;
}

.top {
  height: 80px;
}

.plots-heading {
  height: 80px;
}

// .harvest-reminder > p {
//   height: 1000px;
// }

.container-fluid {
  width: 100%;
}
